@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 3rem; /* mt-12 */
}

.marquee-track {
  display: inline-flex;
  gap: 2rem; /* gap-8 */
  animation: marquee 20s linear infinite;
}

